header {
  background-color: #C9131C;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 150px;
  position: fixed;
  z-index: 900;
  top: 0;
  width: 100%;
  overflow: hidden; }
  header nav button {
    display: none; }
  header img {
    flex: 0 1 auto; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  header nav li {
    padding-top: 75px; }
  header nav a {
    color: #eceded;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 42px;
    font-size: 19px;
    flex: 0 1 auto; }
  header nav a:hover,
  header nav a:focus,
  header nav a:active {
    transform: scale(1.5);
    color: #2A2A2A; }

    
@media only screen and (max-width: 850px){

header {
  display:flex;
  justify-content: space-around;
}

.hamburger {
    display: block;
    width: 50px;

}

 nav {
   display:none;

 }

 nav ul {
   display: none;
 }
  
.show header {
  display: flex;
  align-content: center;
  height: 30vh;
  
 
  .logo{
    display: none;
  }


}

  .show nav {
    display:flex;
    text-align: center;
    
}

.show nav ul{
  display:block;
  width:100%;
}
.show nav li{
  padding:15px;
  margin:0;
}

.show nav a {
  line-height:30px;    
}

.show nav a:focus,
    .show nav a:hover,
    .show nav a:active {
      
        color: #808080;
        outline: none;
    }
    
   


}


    