@import url('https://fonts.googleapis.com/css?family=Fira+Sans:900|Lobster|Spectral');

.wrapper {
    max-width: 920px;
    padding: 50px 20px;
    background-color: lightgrey;
    margin: 150px auto;
}

.title {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size:2em;
}

article {
    margin-top: 20px;
}