@import url('https://fonts.googleapis.com/css?family=Fira+Sans:900|Lobster|Spectral');

body {
    background-image: url(/images/bg3.png);
    background-size: cover;
    background-attachment: fixed;
        
}

.wrapper {
    max-width: 920px;
    padding: 50px 30px;
    background-color: lightgrey;
    margin: 150px auto;
}

.title {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size:2em;
}

article {
    margin-top: 30px;
}

li {
    font-family: 'spectral', sans-serif;
        padding:10px;
    
}

article p {
    font-family: 'spectral', sans-serif;
    text-indent: 5%;
    
}

.marks ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left:20px;
    
}

.marks .row1 {
    width: 20%;
}

.marks .row2 {
    list-style: none;
    width: 75%;
}

@media screen and (max-width: 865px){

    
.marks .row1 {
        width: 100%;
    }

.marks .row2 {
        width: 100%;
    padding:0px 0px 0px 20px; 
    }




}






