@import url('https://fonts.googleapis.com/css?family=Anton|Fira+Sans:900|Patua+One|Spectral');

body{
    background-color: lightgrey;
}

.wrapper {
    max-width: 920px;
    padding: 50px 20px;
    background-color: white;
    margin: 150px auto;
}

article {
    border: 2px solid black;
    padding: 10px;
    margin-top:20px;
}

.title {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size:2em;
}


article h1 {
     text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
}


h4 {
     margin-top: 20px;
    font-family: 'Patua One', cursive;
}

li {
    font-family: 'Spectral', serif;
}

p {
    font-family: 'Spectral', serif;
}